.card-view
  %dl
    %dt Név
    %dd= @channel.name
    %dt Domain
    %dd= link_to @channel.domain, @channel.url, target: '_blank'
    %dt Stream útvonal
    %dd= "rtmp://tv.dragonhall.hu/live/#{@channel.stream_path}"
    %dt Overlay kép
    %dd= image_tag @channel.logo.url, size: '75x25'
    %dt Ajánlók előtt
    %dd= @channel.trailer_before.title
    %dt Ajánlók után
    %dd= @channel.trailer_after.title

