%table#viewers.span-11
  %caption
    = link_to "Nézők (#{@clients.size})", viewers_path, target: '_blank'


  %thead
    %tr
      %th Felhasználó
      %th IP cím
      %th Platform
      %th Flash verzió
      %th.actions &nbsp;
  %tbody
    - @clients.each do |client|
      %tr
        %td.userinfo= client.user_id >= 0 ? link_to(image_tag(client.user.avatar_url, size: '24x24') + client.user.name, "http://dragonhall.hu/profile.php?lookup=#{client.user_id}", target: :blank) : 'Anonymous'
        %td
          = geoip_flag(client.address)
          = link_to client.address, viewer_path(client.client_id)
        %td= client.platform
        %td= client.flash_version
        %td.actions

%table#channels.span-12
  %caption
    Csatornák
    %span.actions.right
      = link_to image_tag('icons/add.png'), new_channel_path, class: 'add'
  %thead
    %tr
      %th Név
      %th Aktuális műsor
      %th Aktuális szám
      %th Nézők száma
      %th.actions Műveletek
  %tbody
    - @channels.each do |channel|
      %tr
        %td.channel= link_to channel.name, channel
        %td
          = na_or_s(channel.playlists.active.any?) { channel.playlists.active.first.title }
        %td
          = na_or_s(channel.playlists.active.any? && channel.playlists.active.first.tracks.now_playing.any?) { channel.playlists.active.first.tracks.now_playing.first.title }
        %td 0
        %td.actions
          = link_to image_tag('icons/magnifier.png'), channel, class: 'show'
          = link_to image_tag('icons/pencil.png'), [:edit, channel], class: 'edit'

%br.span-24.clearfix

%table#playlists_last_edited.span-23
  %caption
    Lejátszásra kész műsorok
  %thead
    %tr
      %th Cim
      %th Csatorna
      %th Kezdes
      %th Vege
      %th Szamok
      %th.actions Muveletek
  %tbody
    - @upcoming_playlists.each do |playlist|
      %tr
        %td= playlist.title
        %td= playlist.channel.name
        %td= playlist.start_time.strftime('%F %T')
        %td= playlist.end_time.strftime('%F %T')
        %td= "#{playlist.tracks.count} db (#{playlist.tracks.films.count} film)"
        %td.actions
          = link_to image_tag('icons/magnifier.png'), [playlist.channel, playlist, :tracks], target: '_blank'
          -#= link_to image_tag('icons/magnifier.png'), [playlist.channel, playlist]
          = link_to image_tag('icons/pencil.png'), [:edit, playlist.channel, playlist], class: 'edit'
          -#= link_to image_tag('icons/cross.png'), [playlist.channel, playlist], method: :delete, confirm: 'Biztosan törlöd ezt a műsort?'


%table#playlists_editables.span-23
  %caption
    Lezáratlan műsorok
    %span.actions.right
      -#= select_tag current_power.channels, 'id', name
      = select_tag :channel, options_from_collection_for_select(current_power.channels, 'id', 'name')
      = link_to image_tag('icons/add.png'), '#' , class: 'add'
  %thead
    %tr
      %th Cim
      %th Csatorna
      %th Kezdes
      %th Vege
      %th Szamok
      %th.actions Muveletek
  %tbody
    - @wip_playlists.each do |playlist|
      %tr
        %td= playlist.title
        %td= playlist.channel.name
        -#%td= l playlist.start_time, format: :long
        -#%td= l playlist.end_time, format: :long
        %td= playlist.start_time.strftime('%F %T')
        %td= playlist.end_time.strftime('%F %T')
        %td= "#{playlist.tracks.count} db (#{playlist.tracks.films.count} film)"
        %td.actions
          = link_to image_tag('icons/play.png'), [:play, playlist.channel, playlist], class: 'play'
          = link_to image_tag('icons/magnifier.png'), [playlist.channel, playlist, :tracks], target: '_blank'
          = link_to image_tag('icons/pencil.png'), [:edit, playlist.channel, playlist], class: 'edit' if !playlist.finalized
          = link_to image_tag('icons/cross.png'), [playlist.channel, playlist], method: :delete, confirm: 'Biztosan törlöd ezt a műsort?'


