%table#viewers.span-23
  %caption Nézők
  %thead
    %tr
      %th Felhasználó
      %th IP cím
      %th Platform
      %th Flash verzió
      %th Ország
      %th Város
      %th.actions Műveletek
  %tbody
    - @clients.each do |client|
      %tr
        %td.userinfo{style: "#{client.user_id >= 0 && "background-image: url(#{client.user.avatar_url}"});"}
          = client.user_id >= 0 ? link_to(client.user.name, "http://dragonhall.hu/profile.php?lookup=#{client.user_id}", target: :blank) : 'Anonymous'
        %td= client.address
        %td= client.platform
        %td= client.flash_version
        %td
          = geoip_flag client.address
          = geoip_country client.address
        %td= geoip_city client.address
        %td.actions
          = link_to image_tag('icons/cross.png'), kill_viewer_path(client.client_id), title: 'Gyilkol'
          = link_to image_tag('icons/trash.png'), block_viewer_path(client.address), title: 'Blokk'
