.post.main
  .post_header
    %h3 Videótár

  #footages.lof-slidecontent.lof-snleft
    .preload
      %div
    .lof-main-outer
      %ul.lof-main-wrapper
        %li
          = image_tag 'https://placebear.com/900/300', title: 'MedveAnyám 1', size: '900x300', alt: ''
          %div.lof-main-item-desc
            %h3
              = link_to 'MedveAnyám 1.', '#'
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent vitae magna lorem, quis faucibus leo.
        %li
          = image_tag 'https://placekitten.com/900/300', title: 'Macskanő 2', size: '900x300', alt: ''
          %div.lof-main-item-desc
            %h3
              = link_to 'Macskanő 2.', '#'
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent vitae magna lorem, quis faucibus leo.
        %li
          = image_tag 'https://placebear.com/900/300', title: 'MedveAnyám 2', size: '900x300', alt: ''
          %div.lof-main-item-desc
            %h3
              = link_to 'MedveAnyám 2.', '#'
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent vitae magna lorem, quis faucibus leo.
        %li
          = image_tag 'https://placekitten.com/900/300', title: 'Macskanő 3', size: '900x300', alt: ''
          %div.lof-main-item-desc
            %h3
              = link_to 'Macskanő 3.', '#'
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent vitae magna lorem, quis faucibus leo.

    .lof-navigator-outer
      %ul.lof-navigator
        %li
          %div
            = image_tag 'https://placebear.com/140/70', alt: ''
            %h3 MedveAnyám 1
            %span 2010.10.07
            \- Lorem ipsum dolor sit amet, consectetur adispicing elit.
            Praesent vitae magna...
        %li
          %div
            = image_tag 'https://placekitten.com/140/70', alt: ''
            %h3 Macskanő 2
            %span 2010.10.07
            \- Lorem ipsum dolor sit amet, consectetur adispicing elit.
            Praesent vitae magna...
        %li
          %div
            = image_tag 'https://placebear.com/140/70', alt: ''
            %h3 MedveAnyám 2
            %span 2010.10.07
            \- Lorem ipsum dolor sit amet, consectetur adispicing elit.
            Praesent vitae magna...
        %li
          %div
            = image_tag 'https://placekitten.com/140/70', alt: ''
            %h3 Macskanő 3
            %span 2010.10.07
            \- Lorem ipsum dolor sit amet, consectetur adispicing elit.
            Praesent vitae magna...
