%table#videos.span-23
  %caption
    Videók
    %span.actions.right
      = link_to image_tag('icons/add.png'), new_video_path , class: 'add'
  %thead
    %tr
      %th Cím
      %th Típus
      %th Méret
      %th Korhatár
      %th Hossz
      %th Státusz
      %th.actions Műveletek

  %tbody
    - collection.sort_by { |v| [v.video_type, v.title, v.created_at] }.each do |video|
      %tr
        %td= (video.metadata.blank? || video.metadata['title'].blank?) ? "[ #{File.basename(video.path)} ]" : video.metadata['title']
        %td= video.video_type.to_s.titleize
        %td= na_or_s(video.imported?) { "#{video.metadata[:width]}x#{video.metadata[:height]}" }
        %td= video.pegi_rating.to_s.sub(/^pegi_/, '') + '+' # Video.pegi_rating_titles[video.pegi_rating]
        %td= na_or_s(video.imported?) { Time.at(video.metadata[:length]).utc.strftime('%H:%M:%S') }
        %td= video.imported? ? 'Importálva' : 'Importra vár'
        %td
          = link_to image_tag('icons/pencil.png'), [:edit, video], class: 'edit'
          = link_to image_tag('icons/trash.png'), video, method: :delete, confirm: 'Biztosan törlöd ezt a műsort?'


%br


