!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Showtime
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #wrapper
      .header
        = image_tag 'dhlogo_TV.png', :alt => 'header'
      #navbar
        %ul
          %li
            = link_to 'Vezérlőpult', root_url, :class => 'active'
      #content
        = yield
