= form_for [@channel, @playlist], html: { class: 'simple_form' } do |f|

  = f.input :channel_id, collection: current_power.channels, label_method: :name, value_method: :id, selected: @channel.id, disabled: !f.object.new_record?
  = f.input :title
  = f.input :start_time, as: :datepicker, disabled: f.object.finalized?, input_html: { autocomplete: :off, value: f.object.start_time? ? f.object.start_time.strftime('%F %T') : '' }
  = f.input :intro_id, collection: Video.intros, label_method: :title, value_method: :id

  - unless f.object.new_record?
    = f.input :finalized, disabled: f.object.finalized?

  .actions
    = f.submit 'Save'

  - unless f.object.new_record?
    %table#playlist_tracklist(style="margin-top: 10px")
      %caption
        Lejátszandó videók
        - unless f.object.finalized?
          %span.actions.right
            = link_to image_tag('icons/add.png'), '#' , class: 'add'
            = link_to image_tag('icons/film_intro.png'), wrap_channel_playlist_tracks_path(playlist_id: f.object.id), class: 'wrap-intros', title: 'Wrap films with intro', method: :post

      %thead
        %tr
          %th Pozíció
          %th Cím
          %th Várható kezdés
          %th Hossz
          %th.actions Műveletek
      %tbody
        - f.object.tracks.each do |track|
          %tr{id: "track_#{track.id}"}
            %td= track.position
            %td
              = image_tag("icons/film_#{track.video_type}.png", title: track.video_type.titleize)
              = track.title
            %td= track.start_time.strftime('%H:%M:%S')
            %td= Time.at(track.length).utc.strftime('%H:%M:%S')
            %td.actions
              -#= link_to(image_tag('icons/magnifier.png'), '#', class: 'popup-player')
              = link_to(image_tag('icons/cross.png'), [@channel, @playlist, track], class: 'delete', method: :delete, data: {confirm: 'Biztosan törlöd?'}) if current_power.channels.include?(@channel) and !f.object.finalized?
        %tr#new-video(style="display: none")
          %td(data-property="position")
          %td(data-property="title")
          %td(data-property="start_time")
          %td(data-property="length")
          %td.actions
            -#= link_to(image_tag('icons/magnifier.png'), '#', class: 'popup-player')
            = link_to(image_tag('icons/cross.png'), [@channel, @playlist, :tracks], class: 'delete', method: :delete, confirm: 'Biztosan törlöd?') if current_power.channels.include?(@channel) and !f.object.finalized?

        %tr#line-form(style="display: none")
          %td &nbsp;
          %td.autocomplete-target.video
            %input(type="text" name="video_title" id="video_title" placeholder="Videó címe")
            = select_tag :video_type, options_for_select(Video.video_types.map {|k, v| [k.titleize, v] }, 'film')
            %input(type="hidden" name="video_id" id="video_id")
            %input{type: 'hidden', name: 'playlist_id', id: 'playlist_id', value: @playlist.id}
          %td
          %td
          %td.actions
            = link_to image_tag('icons/accept.png'), [@channel, @playlist, :tracks], class: 'accept'
            = link_to image_tag('icons/cancel.png'), '#', class: 'cancel'
      %tfoot
        %tr
          %td(colspan="5")
            - unless f.object.finalized?
              %span.actions.right
                = link_to image_tag('icons/add.png'), '#' , class: 'add'
